@model StoriesViewModel

<div class="post">
    <h2>@Model.Story.Title</h2>
    
    <p>@Model.Story.Genre</p>
</div>
<ul>
  <li><a class="btn btn-primary" asp-area="" asp-controller="Chapters" asp-action="Index" asp-route-id="@Model.Story.Id">Chapters</a></li>
   
</ul>
<div class="post-actions">
  <ul>
    <li><a class="btn btn-primary" asp-area="" asp-controller="Stories" asp-action="EditStory" asp-route-id="@Model.Story.Id">Update</a></li>
    <li><input type="submit" class="btn btn-danger" value="Delete" onClick="deleteStory(@Model.Story.Id)" /></li>
  </ul>
</div>